@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="DiaMasVenta">
            Con más Ventas
        </a>
        <a class="btn btn-secondary" asp-controller="Empleados" asp-action="Index">
            Empleados
        </a>
        <a class="btn btn-danger" asp-controller="Api" asp-action="Index">
            API
        </a>
    </p>
</div>
